[goldmark]
  [goldmark.renderer]
    unsafe = true

[goldmark.extensions.passthrough]
  enable = true
  [goldmark.extensions.passthrough.delimiters]
    block = [['\[', '\]'], ['$$', '$$']]
    inline = [['\(', '\)']]

[highlight]
  noClasses = false
